.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    justify-content: center;
    
}

.input {
    padding: 10px;
    margin: 10px 0;
}

.button {
    padding: 10px;
    color:"#fff";
    background-color: darkcyan;
    margin-top: 10px;
}