.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: darkgrey;
    height: 4rem;
}

.item {
    margin: 0px 15px 0px 15px;
    color: #000;
    font-weight: 200;
}

.link {
    text-decoration: none;
}